<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-avpartners">
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.name" /></td>
		<td>{partners.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.logo" /></td>
		<td>
				<f:image src="{partners.logo.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.address" /></td>
		<td>{partners.address}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.zip" /></td>
		<td>{partners.zip}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.country" /></td>
		<td>{partners.country}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.city" /></td>
		<td>{partners.city}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.phone" /></td>
		<td>{partners.phone}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.fax" /></td>
		<td>{partners.fax}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.url" /></td>
		<td>{partners.url}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.email" /></td>
		<td>{partners.email}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_avpartners_domain_model_partners.comment" /></td>
		<td>{partners.comment}</td>
	</tr>
</table>
</html>
